
__pycache__/candles.cpython-38.pyc
__pycache__/Vronsky_Basov_Strugach_Ohriz_Ermolina.cpython-38.pyc
__pycache__/trade.cpython-38.pyc
__pycache__/plot.cpython-38.pyc
__pycache__/indicators.cpython-38.pyc
__pycache__/helpfuncs.cpython-38.pyc
__pycache__/figures.cpython-38.pyc
График фигур для цен акций МТС-ао.html
